---
title: "CUWALID"
layout: splash
permalink: /
header:
  overlay_image: /assets/images/D2E_Texture01.jpg
  overlay_filter: "0.5"
  overlay_color: "#000"
  actions:
    - label: "Get Started"
      url: "#modelling-tools"
excerpt: "This website helps to explore the CUWALID models with information and examples along with software using the CUWALID system like the WujihaCast telegram app."
intro:
  - excerpt: "Discover how our tools and resources can help you get started."
    
feature_row:
  - image_path: /assets/images/climate_modelling.png
    title: "Modeling Tools"
    excerpt: "Explore CUWALID for powerful modeling capabilities."
    url: "/tools/"
    btn_label: "More info"
    btn_class: "btn--primary"
  - image_path: /assets/images/WujihaCast_interface2.jpg
    title: "Chatbot App"
    excerpt: "Use our chatbot for efficient automated interactions."
    url: "https://github.com/your-org/Chatbot"
    btn_label: "Chatbot Repo"
    btn_class: "btn--primary"
  - image_path: /assets/images/DRYP_Diagram.jpg
    title: "Tutorials"
    excerpt: "Written and video tutorials to aid in using the CUWALID models."
    url: "https://github.com/your-org/Chatbot"
    btn_label: "Tutorials"
    btn_class: "btn--primary"

gallery:
    - url: /assets/images/gallery/hPET_stoPET_Africa.jpg
      image_path: /assets/images/gallery/hPET_stoPET_Africa.jpg
      alt: "phPET stoPET Africa Image"
      title: "stoPET Example"
    - url: /assets/images/gallery/ICPAC_Tforecast_OND2024.jpg
      image_path: /assets/images/gallery/ICPAC_Tforecast_OND2024.jpg
      alt: "ICPAC Forecast OND 2024 Image"
      title: "ICPAC Forecast OND 2024"
    - url: /assets/images/gallery/STORM_forecast.jpg
      image_path: /assets/images/gallery/STORM_forecast.jpg
      alt: "STORM forecast Image"
      title: "STORM Forecast"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

Here is a gallery showing some examples produced by each of the CUWALID models

{% include gallery %}


